.userdashboard .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.userdashboard .card {
  height: 200px;
  width: 350px;
  margin-top: 20px;
  margin-right: 850px;
  border-color: #FAA41E;
}
.userdashboard .card:hover {
  background-color: #FAA41E;
  border-color: #FAA41E;
}

.userdashboard .card-title {
  font-size: 20px;
  font-weight: bold;
}

.userdashboard .card-text {
  margin-bottom: 10px;
  font-size: 50px;
}
